
/* * {
    box-sizing: border-box;
  } */

.container_cold{
    background-image: url("./assets/cold.jpg");
    background-size: cover;
    min-height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
}

.container_warm{
    background-image: url("./assets/warm.jpg");
    background-size: cover;
    min-height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
}

.searchbox{
    width: 100%;
    position:absolute;
    top: 8%;
    /* padding: 25px; */
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
}

.search-el{
    width: 100%;
    height: 30px;
    max-width: 400px;
    background: rgb(255, 255, 255, 0.7);
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 7px 10px;
}

.search-el:focus{
    background: rgb(255, 255, 255);
}


.info{
    position: absolute;
    top: 25%;
    /* text-align: center; */
    width: 100%;
}

.location{
    padding-bottom: 5px ;
    font-size: 25px;

}

.weather-info{
    position: absolute;
    top: 45%;
    /* text-align: center; */
    width: 100%;
    font-size: 45px;
}



